beautifulsoup4
email-validator
flask
flask-dance
flask-login
flask-sqlalchemy
flask-wtf
gunicorn
insightface
numpy
oauthlib
onnxruntime
openai
opencv-python-headless
openpyxl
pandas
pillow
psycopg2-binary
pyjwt
python-dotenv
pytz
replit
requests
sqlalchemy
twilio
weasyprint
werkzeug
wtforms
beautifulsoup4
flask-dance
numpy
openpyxl
Pillow
pytz
twilio
