
beautifulsoup4
email-validator
flask
flask-dance
flask-login
flask-sqlalchemy
flask-wtf
gunicorn
oauthlib
openai
openpyxl
pandas
psycopg2-binary
pyjwt
python-dotenv
replit
requests
sqlalchemy
werkzeug
wtforms